@import'utilities.css';
:root{
    --primary:#61892F;
    --neon:#86C232;
    --dark:#222629;
    --grey:#474B4F;
    --light:#6B6E70;
    }
    body{
        font-family: sans-serif;
    }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smotthing:antialiased;

}
    header{
        background-color: var(--dark);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
    }

    .container{
        max-width: 1152px;
        padding:0 15px;
        margin: 0 auto;
    }
    
header nav .left a{
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;

}
header nav .left a:hover{
    color: var(--primary);
}

header nav{
    padding: 2rem 0;
}
header nav .logo{
    margin-right: 3rem;

}
.man{
    padding:3rem 0;
}
.man  img{
    width: 400px;
}
.right{
    color: rgb(235, 238, 240);
}
.right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.right h1{
font-size: 4rem;
font-weight: 100;
margin-bottom: 2rem;
}
.right h1 span{
    color: #61892F;
}
.right{
    margin-top: -4rem;
}
